// navbar

$nav-item-color: #ffffff;

$header_background: #fafafa;

$header_gradient_background: linear-gradient(
    94.85deg,
    #009dff 0%,
    #68008c 100%
);

$header-title-color: #343438;

$feature-title-color: #343438;
$feature-subheader-color: rgba(21, 20, 57, 0.5);
$feature-circle-color: rgba(212, 212, 212, 0.25);
