// Loader

$loader-background: linear-gradient(94.85deg, #009dff 0%, #68008c 100%);

// navbar

$nav-item-color: #ffffff;

$header_background: #fafafa;

$header_gradient_background: linear-gradient(
    94.85deg,
    #009dff 0%,
    #68008c 100%
);

$header-title-color: #343438;

$feature-title-color: #343438;
$feature-subheader-color: rgba(21, 20, 57, 0.5);
$feature-circle-color: rgba(212, 212, 212, 0.25);

$case-studies-title-color: rgba(52, 57, 64, 1);
$case-studies-subtitle-color: rgba(21, 20, 57, 0.4);
$case-title-color: rgba(32, 178, 229, 1);
$case-subtitle-color: rgba(21, 20, 57, 0.4);

$screen-section-background-color: rgba(52, 57, 64, 1);
$screen-section-title-color: rgba(255, 255, 255, 1);
$screen-code-editor-header-color: rgba(23, 28, 35, 1);
$screen-code-editor-background-color: rgba(196, 196, 196, 1);

$pricing-section-title-color: rgba(35, 29, 79, 1);
$pricing-section-subtitle-color: rgba(21, 20, 57, 0.4);
$pricing-plan-price-color: rgba(35, 29, 79, 1);
$pricing-plan-duration-color: rgba(132, 129, 153, 1);
$pricing-plan-checkbox-bg-color: rgba(184, 184, 184, 0.13);
$pricing-plan-checkbox-bg-color-on-select: rgba(255, 255, 255, 0.8);
$get-plan-button-background-color: rgba(151, 151, 151, 0.1);
