.features {
    width: 100%;

    .container {
        width: 100%;
        padding: 400px 80px 50px 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .background-arrow {
            display: none;
        }

        .left-column {
            width: 300px;
            margin-bottom: 250px;

            .feature-title {
                font-family: 'Eina02-Bold';
                font-size: 44px;
                font-weight: 700;
                line-height: 55px;
                text-align: right;
                color: $feature-title-color;

                span {
                    color: #ff8946;
                }
            }
            .feature-subtitle {
                margin-top: 10px;
                font-family: 'Eina02-Regular';
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                text-align: right;
                color: $feature-subheader-color;
            }
        }

        .container-bg {
            position: relative;
            width: 45%;
            height: 782px;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                position: absolute;
                width: 500px;
                height: 500px;
                background: rgba(212, 212, 212, 0.25);
                border-radius: 50%;
                z-index: -99;
            }
            .iphone-clay {
                position: absolute;
            }
            .hook {
                position: absolute;
                bottom: 15px;
                left: 12%;
            }
        }

        .right-column {
            width: 250px;

            .feature {
                margin-bottom: 30px;
                h3 {
                    font-family: 'Eina02-Bold';
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    color: $feature-title-color;
                }

                p {
                    margin-top: 10px;
                    font-family: 'Eina02-Regular';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    color: $feature-subheader-color;
                }
            }
        }
    }
}

// For features smaller than 425px

@media only screen and (max-width: 425px) {
    .features {
        width: 100%;
        overflow-y: hidden;

        .container {
            position: relative;
            width: 100%;
            padding: 60px 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .background-arrow {
                display: block;
                width: 100%;
                height: 375px;
                position: static;

                svg {
                    width: 150%;
                    height: 100%;
                    position: relative;
                    left: -14px;
                }
            }

            .left-column {
                position: absolute;
                top: 140px;
                left: 40px;
                margin: 0;

                .feature-title {
                    font-family: 'Eina02-Bold';
                    font-size: 44px;
                    font-weight: 700;
                    line-height: 55px;
                    text-align: left;
                    color: #343438;
                    text-align: center;
                }

                .feature-subtitle {
                    margin-top: 20px;
                    font-family: 'Eina02-Regular';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 17px;
                    text-align: center;
                    color: rgba(21, 20, 57, 1);
                }
            }

            .container-bg {
                width: 90%;
                height: 500px;

                .circle {
                    position: absolute;
                    width: 115%;
                    height: 330px;
                    background: rgba(212, 212, 212, 0.25);
                    border-radius: 50%;
                    z-index: -99;
                }

                .iphone-clay {
                    width: 130%;
                    height: calc(width * 1.4);
                    z-index: -9;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }

                .hook {
                    position: absolute;
                    bottom: 0px;
                    left: -5%;
                    width: 60%;
                    height: 110px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .right-column {
                position: relative;
                top: 75px;
                width: 100%;
                padding: 0 30px;

                .feature {
                    margin-bottom: 30px;
                    h3 {
                        font-family: 'Eina02-Bold';
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 26px;
                        color: $feature-title-color;
                    }

                    p {
                        margin-top: 10px;
                        font-family: 'Eina02-Regular';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        color: rgba(21, 20, 57, 0.8);
                    }
                }
            }
        }
    }
}

// For screen smaller than 320

@media only screen and (max-width: 320px) {
    .features {
        .container {
            .background-arrow {
                width: 100%;

                svg {
                    width: 150%;
                    height: 85%;
                    position: relative;
                    left: -10px;
                }
            }

            .left-column {
                position: absolute;
                top: 114px;
                left: 15px;
                margin: 0;

                .feature-title {
                    font-family: 'Eina02-Bold';
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 50px;
                    text-align: center;
                    color: #343438;
                    text-align: center;
                }
            }

            .container-bg {
                .circle {
                    position: absolute;
                    width: 115%;
                    height: 330px;
                    background: rgba(212, 212, 212, 0.25);
                    border-radius: 50%;
                    z-index: -99;
                }
                .hook {
                    position: absolute;
                    bottom: 55px;
                    left: -5%;
                    width: 60%;
                    height: 90px;
                }
            }

            .right-column {
                top: 35px;
            }
        }
    }
}

// For screen smaller than 414px

@media only screen and (min-width: 414px) {
    .features {
        .container {
            .background-arrow {
                svg {
                    left: -24px;
                }
            }
            .left-column {
                top: 126px;
                left: 54px;
            }
            .container-bg {
                height: 560px;

                .circle {
                    position: absolute;
                    width: 115%;
                    height: 330px;
                    background: rgba(212, 212, 212, 0.25);
                    border-radius: 50%;
                    z-index: -99;
                }
            }
        }
    }
}

// For screen wider than 1960

@media only screen and (min-width: 1960px) {
    .features {
        .container {
            padding: 200px 10% 50px 10%;
            .left-column {
                width: 300px;
                margin-bottom: 250px;
            }
            .container-bg {
                margin-top: 0;

                .circle {
                    position: absolute;
                    margin-left: 30px;
                    width: 600px;
                    height: 600px;
                    background: rgba(212, 212, 212, 0.25);
                    border-radius: 50%;
                    z-index: -99;
                }
                .hook {
                    left: 21.5%;
                    bottom: 20px;
                }
            }

            .right-column {
                width: 250px;
                padding-bottom: 100px;
            }
        }
    }
}

// For screen wider than 2560px

@media only screen and (min-width: 2560px) {
    .features {
        .container {
            padding: 50px 10%;

            .left-column {
                width: 400px;
                margin-bottom: 350px;
                padding-left: 100px;
            }

            .container-bg {
                width: 30%;

                .circle {
                    width: 650px;
                    height: 650px;
                    margin-left: 30px;
                }
                .hook {
                    left: 20.5%;
                    bottom: 20px;
                }
            }
            .right-column {
                width: 250px;
                padding-bottom: 100px;
            }
        }
    }
}
