.hero {
    width: 100%;
    height: 80vh;

    .container {
        width: 100%;
        padding: 50px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 55%;
            height: 120vh;
            background: $header_gradient_background;
            border-bottom-left-radius: 190px;
            z-index: -9;
        }
        .left-column {
            width: 45%;
            padding: 45px 45px 45px 0;
            color: $header-title-color;

            .hero-title {
                margin-top: 50px;
                font-family: 'Eina02-SemiBold';
                font-size: 38px;
                font-weight: 600;
                line-height: 45px;
            }

            .hero-subtitle {
                margin-top: 12px;
                font-family: 'Eina02-Light';
                font-size: 25px;
                font-weight: 400;

                line-height: 38px;
            }

            .hero-cta {
                margin-top: 45px;
                padding: 5px 85px;
                font-family: 'Eina02-Light';
                font-size: 18px;
                line-height: 38px;
                outline: none;
                border: 0;
                border-radius: 18px;
                background: linear-gradient(
                    268.25deg,
                    #ff8946 6.75%,
                    #f96464 98.78%
                );
                color: $nav-item-color;
                cursor: pointer;
            }

            .get-app {
                margin-top: 45px;
                padding: 0 20px;

                a {
                    text-decoration: none;
                    margin-right: 5px;
                }
            }
        }
    }

    .background-arrow {
        position: absolute;
        top: 390px;
        left: -30px;
        z-index: -99;
    }
}

// For screen wider than 1960px

@media only screen and (min-width: 1960px) {
    .hero {
        .container {
            padding: 50px 10%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 10%;
                width: 45%;
                height: 90vh;
                background: $header_gradient_background;
                border-bottom-left-radius: 190px;
                border-bottom-right-radius: 190px;
                z-index: -9;
            }

            .left-column {
                padding: 45px 120px 45px 0;
            }
        }

        .background-arrow {
            position: absolute;
            top: 430px;
            left: 0px;
            z-index: -99;
        }
    }
}
