.pricing-table {
    width: 100%;

    .container {
        width: 100%;
        padding: 100px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section-header {
            width: 55%;
            margin-bottom: 170px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .icons {
                width: 45%;
                margin-bottom: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .title {
                margin-bottom: 35px;
                font-family: 'Eina02-Bold';
                font-size: 42px;
                font-weight: 700;
                line-height: 52px;
                color: $pricing-section-title-color;
            }

            .sub-title {
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 500;
                line-height: 32px;
                color: $pricing-section-subtitle-color;
            }
        }

        .table {
            min-width: 1200px;
            max-width: 1300px;
            height: 480px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            background: #ffffff;
            border: 0.5px solid #c7c7c7;
            border-radius: 26px;
            box-shadow: 0 4 40 rgba(0, 0, 0, 0.03);

            .plan {
                height: 100%;
                padding: 40px 30px 40px 40px;
                cursor: pointer;
                transition: transform 450ms ease-out;

                .plan-price {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    h3 {
                        font-family: 'Eina02-Bold';
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 46px;
                        color: $pricing-plan-price-color;
                        text-transform: uppercase;
                    }

                    p {
                        margin: 17px 0 0 15px;
                        font-family: 'Eina02-Regular';
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 23px;
                        color: $pricing-plan-duration-color;
                    }
                }

                .plan-title {
                    margin-bottom: 20px;

                    .plan-name {
                        margin-bottom: 10px;
                        font-family: 'Eina02-SemiBold';
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 39px;
                        color: $pricing-plan-price-color;
                    }

                    .plan-for-whom {
                        font-family: 'Eina02-Regular';
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 21px;
                        color: $pricing-plan-duration-color;
                    }
                }

                .advantage-list {
                    list-style: none;
                    padding-left: 25px;
                    margin-left: 16px;
                    margin-bottom: 35px;
                    font-family: 'Eina02-Regular';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 21px;
                    color: $pricing-plan-duration-color;

                    .advantages {
                        position: relative;
                        margin-bottom: 10px;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: -28px;
                            width: 22px;
                            height: 20px;
                            background: url(../images/green-check.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            border-radius: 50%;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: -27.5px;
                            width: 22px;
                            height: 20px;
                            background: url(../images/faded-circle.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            border-radius: 50%;
                        }

                        .bold-text {
                            font-weight: 700;
                        }
                    }

                    .disadvantages {
                        position: relative;
                        margin-bottom: 10px;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: -28px;
                            width: 22px;
                            height: 20px;
                            background: url(../images/red-cross.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: -28px;
                            width: 22px;
                            height: 20px;
                            background: url(../images/faded-circle.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }

                .get-plan-button {
                    width: 96%;
                    height: 45px;
                    margin: 0 auto;
                    border: none;
                    outline: 0;
                    border-radius: 24px;
                    background: $get-plan-button-background-color;
                    font-family: 'Eina02-SemiBold';
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 21px;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                }

                // On hover price plan
                &:hover {
                    position: relative;
                    background: linear-gradient(
                        69.28deg,
                        #009dff 18.5%,
                        #68008c 136.36%
                    );
                    border-radius: 26px;
                    transform: translateY(-50px);
                    box-shadow: 0px 22px 36px 0px rgba(91, 164, 254, 0.33);

                    .plan-price {
                        h3 {
                            color: #ffffff;
                        }
                        p {
                            color: #ffffff;
                        }
                    }

                    .plan-title {
                        .plan-name {
                            color: #ffffff;
                        }
                        .plan-for-whom {
                            color: #ffffff;
                        }
                    }

                    .advantage-list {
                        color: #ffffff;

                        li {
                            &::before {
                                z-index: 1;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 2px;
                                left: -27.5px;
                                width: 22px;
                                height: 20px;
                                background: url(../images/circle.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                z-index: 0;
                            }
                        }
                    }

                    .get-plan-button {
                        background: #ffffff;
                    }
                }
            }

            .most-popular {
                position: relative;
                padding: 50px 30px 40px 40px;
                background: linear-gradient(
                    69.28deg,
                    #009dff 18.5%,
                    #68008c 136.36%
                );
                border-radius: 26px;
                transform: translateY(-50px);
                box-shadow: 0px 22px 36px 0px rgba(91, 164, 254, 0.33);
                .plan-price {
                    h3 {
                        color: #ffffff;
                    }
                    p {
                        color: #ffffff;
                    }
                }

                .plan-title {
                    .plan-name {
                        color: #ffffff;
                    }
                    .plan-for-whom {
                        color: #ffffff;
                    }
                }

                .advantage-list {
                    color: #ffffff;

                    .advantages {
                        &::before {
                            z-index: 1;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: -27.5px;
                            width: 22px;
                            height: 20px;
                            background: url(../images/circle.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            z-index: 0;
                        }
                    }
                }

                .get-plan-button {
                    background: #ffffff;
                }

                &::before {
                    content: 'most popular';
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    width: 120px;
                    height: 15px;
                    padding: 7px 15px;
                    background: rgba(1, 158, 255, 1);
                    font-family: 'Eina02-Bold';
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 14px;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    color: #ffffff;
                    border-radius: 13px;
                }
            }
        }
    }
}

// For scrren wider than 1960px

@media only screen and (min-width: 1960px) {
    .pricing-table {
        .container {
            width: 100%;
            padding: 150px 10%;

            .section-header {
                width: 40%;
            }
        }
    }
}

// For scrren wider than 2560px

@media only screen and (min-width: 2560px) {
    .pricing-table {
        .container {
            width: 100%;
            padding: 150px 10%;

            .section-header {
                width: 35%;
            }

            .table {
                height: 580px;

                .plan {
                    padding: 40px;

                    .plan-price {
                        margin-bottom: 30px;
                    }

                    .advantage-list {
                        margin-bottom: 60px;
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}
