@font-face {
  font-family: Eina02-Light;
  src: url("../fonts/Eina02-Light.woff") format("woff"), url("../fonts/Eina02-Light.ttf") format("truetype");
}

@font-face {
  font-family: Eina02-Regular;
  src: url("../fonts/Eina02-Regular.woff") format("woff"), url("../fonts/Eina02-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Eina02-SemiBold;
  src: url("../fonts/Eina02-SemiBold.woff") format("woff"), url("../fonts/Eina02-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Eina02-Bold;
  src: url("../fonts/Eina02-Bold.woff") format("woff"), url("../fonts/Eina02-Bold.ttf") format("truetype");
}

.header {
  width: 100%;
  height: 20vh;
  padding: 50px 0px;
}

.header .navbar {
  padding: 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .logo {
  width: 270px;
  height: 75px;
}

.header .navbar .logo .img {
  width: 100%;
  height: 100%;
}

.header .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: 'Eina02-Light';
  font-weight: 400;
}

.header .navbar .nav-list li {
  position: relative;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-list li a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.header .navbar .nav-list .nav-cta {
  padding: 0px 25px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.header .navbar .nav-list .nav-cta::after {
  content: '';
  width: 0;
}

@media only screen and (min-width: 1960px) {
  .header {
    padding: 50px 10%;
  }
  .header .navbar {
    padding: 0;
  }
  .header .navbar .nav-list {
    margin-right: 100px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 2260px) {
  .header {
    padding: 50px 10%;
  }
  .header .navbar {
    padding: 0;
  }
  .header .navbar .nav-list {
    margin-right: 200px;
    padding: 0 30px;
  }
}

.hero {
  width: 100%;
  height: 80vh;
}

.hero .container {
  width: 100%;
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 120vh;
  background: linear-gradient(94.85deg, #009dff 0%, #68008c 100%);
  border-bottom-left-radius: 190px;
  z-index: -9;
}

.hero .container .left-column {
  width: 45%;
  padding: 45px 45px 45px 0;
  color: #343438;
}

.hero .container .left-column .hero-title {
  margin-top: 50px;
  font-family: 'Eina02-SemiBold';
  font-size: 38px;
  font-weight: 600;
  line-height: 45px;
}

.hero .container .left-column .hero-subtitle {
  margin-top: 12px;
  font-family: 'Eina02-Light';
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
}

.hero .container .left-column .hero-cta {
  margin-top: 45px;
  padding: 5px 85px;
  font-family: 'Eina02-Light';
  font-size: 18px;
  line-height: 38px;
  outline: none;
  border: 0;
  border-radius: 18px;
  background: linear-gradient(268.25deg, #ff8946 6.75%, #f96464 98.78%);
  color: #ffffff;
  cursor: pointer;
}

.hero .container .left-column .get-app {
  margin-top: 45px;
  padding: 0 20px;
}

.hero .container .left-column .get-app a {
  text-decoration: none;
  margin-right: 5px;
}

.hero .container .right-column {
  position: relative;
  width: 50%;
}

.hero .container .right-column canvas {
  position: absolute;
  top: -200px;
  right: 10px;
  cursor: -webkit-grab;
  cursor: grab;
}

.hero .container .right-column canvas:focus {
  outline: none;
}

.hero .container .right-column img {
  position: absolute;
  right: -80px;
  top: -100px;
  width: 125%;
  height: auto;
}

.hero .background-arrow {
  position: absolute;
  top: 390px;
  left: -30px;
  z-index: -99;
}

@media only screen and (min-width: 1960px) {
  .hero .container {
    padding: 50px 10%;
  }
  .hero .container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10%;
    width: 45%;
    height: 80vh;
    background: linear-gradient(94.85deg, #009dff 0%, #68008c 100%);
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
    z-index: -9;
  }
  .hero .container .left-column {
    padding: 45px 120px 45px 0;
  }
  .hero .container .right-column {
    position: relative;
  }
  .hero .container .right-column canvas {
    position: absolute;
    top: -300px;
    right: 30px;
  }
  .hero .container .right-column img {
    position: absolute;
    right: 0px;
    top: -240px;
    width: 115%;
    height: auto;
  }
  .hero .background-arrow {
    position: absolute;
    top: 430px;
    left: 0px;
    z-index: -99;
  }
}

@media only screen and (min-width: 2560px) {
  .hero .container .left-column {
    padding: 45px 150px 45px 0;
  }
  .hero .container .right-column {
    position: relative;
  }
  .hero .container .right-column canvas {
    position: absolute;
    top: -325px;
    right: 60px;
    width: 1440px;
    height: 872px;
  }
  .hero .container .right-column img {
    position: absolute;
    right: 0px;
    top: -235px;
    width: 115%;
    height: auto;
  }
}

.features {
  width: 100%;
}

.features .container {
  width: 100%;
  padding: 400px 80px 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container .left-column {
  width: 300px;
  margin-bottom: 250px;
}

.features .container .left-column .feature-title {
  font-family: 'Eina02-Bold';
  font-size: 44px;
  font-weight: 700;
  line-height: 55px;
  text-align: right;
  color: #343438;
}

.features .container .left-column .feature-title span {
  color: #ff8946;
}

.features .container .left-column .feature-subtitle {
  margin-top: 10px;
  font-family: 'Eina02-Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  color: rgba(21, 20, 57, 0.5);
}

.features .container .container-bg {
  position: relative;
  width: 45%;
  height: 782px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container .container-bg .circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(212, 212, 212, 0.25);
  border-radius: 50%;
  z-index: -99;
}

.features .container .container-bg .iphone-clay {
  position: absolute;
}

.features .container .container-bg .hook {
  position: absolute;
  bottom: 15px;
  left: 12%;
}

.features .container .right-column {
  width: 250px;
}

.features .container .right-column .feature {
  margin-bottom: 30px;
}

.features .container .right-column .feature h3 {
  font-family: 'Eina02-Bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #343438;
}

.features .container .right-column .feature p {
  margin-top: 10px;
  font-family: 'Eina02-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.5);
}

@media only screen and (min-width: 1960px) {
  .features .container {
    padding: 200px 10% 50px 10%;
  }
  .features .container .left-column {
    width: 300px;
    margin-bottom: 250px;
  }
  .features .container .container-bg {
    margin-top: 0;
  }
  .features .container .container-bg .circle {
    position: absolute;
    margin-left: 30px;
    width: 600px;
    height: 600px;
    background: rgba(212, 212, 212, 0.25);
    border-radius: 50%;
    z-index: -99;
  }
  .features .container .container-bg .hook {
    left: 21.5%;
    bottom: 20px;
  }
  .features .container .right-column {
    width: 250px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 2560px) {
  .features .container {
    padding: 50px 10%;
  }
  .features .container .left-column {
    width: 400px;
    margin-bottom: 350px;
    padding-left: 100px;
  }
  .features .container .container-bg {
    width: 30%;
  }
  .features .container .container-bg .circle {
    width: 650px;
    height: 650px;
    margin-left: 30px;
  }
  .features .container .container-bg .hook {
    left: 20.5%;
    bottom: 20px;
  }
  .features .container .right-column {
    width: 250px;
    padding-bottom: 100px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(94.85deg, #009dff 0%, #68008c 100%);
  z-index: 9999;
  overflow: hidden;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  opacity: 1;
}

.site-loader h1 {
  font-family: 'Eina02-Regular';
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fafafa;
}

.site-loader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.site-loader .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.site-loader .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */