// importing modules

@import 'fonts';
@import 'colors';
@import 'header';
@import 'hero';
@import 'features';

// Universal styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
