@font-face {
  font-family: Eina02-light;
  src: url("../fonts/Eina02-Light.woff") format("woff"), url("../fonts/Eina02-Light.ttf") format("truetype");
}

@font-face {
  font-family: Eina02-regular;
  src: url("../fonts/Eina02-Regular.woff") format("woff"), url("../fonts/Eina02-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Eina02-semibold;
  src: url("../fonts/Eina02-SemiBold.woff") format("woff"), url("../fonts/Eina02-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Eina02-bold;
  src: url("../fonts/Eina02-Bold.woff") format("woff"), url("../fonts/Eina02-Bold.ttf") format("truetype");
}

.header {
  width: 100%;
  height: 20vh;
  padding: 50px 0px;
}

.header .navbar {
  padding: 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .logo {
  width: 270px;
  height: 75px;
}

.header .navbar .logo .img {
  width: 100%;
  height: 100%;
}

.header .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: 'Eina02-Light';
  font-weight: 400;
}

.header .navbar .nav-list li {
  position: relative;
  padding: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-list li a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.header .navbar .nav-list .nav-cta {
  padding: 0px 25px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.header .navbar .nav-list .nav-cta::after {
  content: '';
  width: 0;
}

@media only screen and (min-width: 1960px) {
  .header {
    padding: 50px 10%;
  }
  .header .navbar {
    padding: 0;
  }
  .header .navbar .nav-list {
    margin-right: 100px;
  }
}

.hero {
  width: 100%;
  height: 80vh;
}

.hero .container {
  width: 100%;
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 120vh;
  background: linear-gradient(94.85deg, #009dff 0%, #68008c 100%);
  border-bottom-left-radius: 190px;
  z-index: -9;
}

.hero .container .left-column {
  width: 45%;
  padding: 45px 45px 45px 0;
  color: #343438;
}

.hero .container .left-column .hero-title {
  margin-top: 50px;
  font-family: 'Eina02-SemiBold';
  font-size: 38px;
  font-weight: 600;
  line-height: 45px;
}

.hero .container .left-column .hero-subtitle {
  margin-top: 12px;
  font-family: 'Eina02-Light';
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
}

.hero .container .left-column .hero-cta {
  margin-top: 45px;
  padding: 5px 85px;
  font-family: 'Eina02-Light';
  font-size: 18px;
  line-height: 38px;
  outline: none;
  border: 0;
  border-radius: 18px;
  background: linear-gradient(268.25deg, #ff8946 6.75%, #f96464 98.78%);
  color: #ffffff;
  cursor: pointer;
}

.hero .container .left-column .get-app {
  margin-top: 45px;
  padding: 0 20px;
}

.hero .container .left-column .get-app a {
  text-decoration: none;
  margin-right: 5px;
}

.hero .background-arrow {
  position: absolute;
  top: 390px;
  left: -30px;
  z-index: -99;
}

@media only screen and (min-width: 1960px) {
  .hero .container {
    padding: 50px 10%;
  }
  .hero .container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10%;
    width: 45%;
    height: 100vh;
    background: linear-gradient(94.85deg, #009dff 0%, #68008c 100%);
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
    z-index: -9;
  }
  .hero .background-arrow {
    position: absolute;
    top: 430px;
    left: 0px;
    z-index: -99;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */